body {
  font-family: "Lora", serif;
  /* margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; */
  background: #292e49 !important;
  background: -moz-linear-gradient(
    top,
    #292e49 0%,
    #2e5fad 50%,
    #292e49 100%
  ) !important;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #292e49),
    color-stop(50%, #2e5fad),
    color-stop(100%, #292e49)
  ) !important;
  background: -webkit-linear-gradient(
    top,
    #292e49 0%,
    #2e5fad 50%,
    #292e49 100%
  ) !important;
  background: -o-linear-gradient(
    top,
    #292e49 0%,
    #2e5fad 50%,
    #292e49 100%
  ) !important;
  background: -ms-linear-gradient(top, #292e49 0%, #2e5fad 50%, #292e49 100%);
  background: linear-gradient(
    to bottom,
    #292e49 0%,
    #2e5fad 50%,
    #292e49 100%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292e49', endColorstr='#292e49', GradientType=0);
  background-attachment: fixed !important;
}

/* #about-section,
#portfolio-section,
#contact-section {
  height: 100vh !important;
} */

.anchor {
  display: block;
  height: 56px;
  /* this is the height of your header */
  margin-top: -56px;
  /* this is again negative value of the height of your header */
  visibility: hidden;
}

.badge-info {
  background-color: #292e49 !important;
  font-size: 22px;
}

.card {
  width: 100%;
}

.card-img-top {
  height: 70% !important;
}

.card-title {
  font-size: 22px;
  text-decoration: underline;
}

.icon-huge {
  font-size: 50px;
}

.navbar,
.navbar-toggler {
  background: #292e49 !important;
  background-color: #292e49 !important;
}

#navbarNav {
  background-color: #292e49 !important;
  background: #292e49 !important;
}

/* .navbar-brand {
  letter-spacing: 1.5px;
  border: 1px;
  border-style: solid;
  border-color: rgb(248, 249, 250, 0.1) !important;
  font-size: 20px;
  border-radius: 0.5px;
  box-shadow: 0px 0px 0px 8px rgba(248, 249, 250 0.1);
} */

.sounds-button {
  margin-left: 2px;
}

/* .spacer {
  flex: 1;
} */

.sticky-footer {
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 10px;
  font-size: 10px;
  position: sticky !important;
  bottom: 0px;
  z-index: 0;
  background: #292e49;
}

.icon-large {
  font-size: 24px;
  margin-right: 5px;
}

.link:hover {
  color: #f8f9fa !important;
}

#linked-in {
  padding-left: 24px;
  padding-right: 24px;
}

.linked-size {
  font-size: 14px;
}

.tech-used {
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  /* .linked-in {
    margin-left: 25%;
    margin-right: 25%;
  } */

  .anchor {
    display: block;
    height: 216px;
    /* this is the height of your header */
    margin-top: -216px;
    /* this is again negative value of the height of your header */
    visibility: hidden;
  }
}
